# Erzwinge, dass GitHub das Repository als R-Projekt erkennt

# R als Hauptsprache markieren
*.Rmd linguist-language=R
*.R   linguist-language=R
*.Rproj linguist-language=R

# Generierte HTML-Reports nicht in die Sprachstatistik zählen
/erneuerbare_energien.html linguist-detectable=false
/README.html linguist-detectable=false

# Sonstige Dateien ignorieren 
*.png linguist-detectable=false
*.csv linguist-detectable=false
